<div class="row">
  <div class="small-10 columns small-centered text-center">
    <h1>Blocipedia: Social, Markdown Wikis</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="small-11 columns small-centered text-center intro">
    <h3>Create and share Markdown Wikis</h3>
    <br>
    <%= link_to "Sign Up", new_user_registration_path, class: 'button small' %>
  </div>
</div>
<br>
<div class="row">
  <div class="small-6 columns text-center">
    <h6>Create as many public wikis as you want!</h6>
    <br>
    <ul class="pricing-table">
      <li class="title">Free Plan</li>
      <li class="price">FREE</li>
      <li class="description">Create and Access Public Wikis</li>
      <li class="cta-button">
        <a href="#" class="button small">Buy Now</a>
       </li>
    </ul>  
  </div>
  <div class="small-6 columns text-center">
    <h6>Create and access private wikis!</h6>
    <br>
    <ul class="pricing-table">
      <li class="title">Premium Plan</li>
      <li class="price">$15</li>
      <li class="description">Create and Access Public and Private Wikis</li>
      <li class="cta-button">
        <a href="#" class="button small">Buy Now</a>
       </li>
    </ul> 
  </div>
</div>