<div class="row">
  <div class="small-12 columns">
    <h2 class="text-center">Edit Wiki:</h2>
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
<% if @wiki.private? && current_user.premium? %>
  <div class="row">
    <div class="small-12 columns text-center">
      <h1>Colaboradores</h1>
      <% @collaborators.each do |collab| %>
        <p>
          <%= collab.user.name %>
          <%= link_to "Remove", wiki_collaborator_path(@wiki, collab), method: :delete %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render partial: 'collaborators/form', locals: { wiki: @wiki, newcollaborator: @newcollaborator } %>
    </div>
  </div>
<% end %>