<div class="row">
  <div class="small-12 columns small-centered text-center">
    <h2>Wikis:</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="small-8 large-6 medium-6 medium-centered large-centered columns small-centered">
    <table>
      <thead>
        <tr>
          <th class="text-center">Title</th>
          <% if current_user %>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @wikis.each do |wiki| %>
          <tr>
            <% if wiki.private? %>
              <td><strong><%= link_to wiki.title, wiki_path(wiki), style: 'color: red' %></strong></td>
            <% else %>
              <td><strong><%= link_to wiki.title, wiki_path(wiki) %></strong></td>
            <% end %>
            <% if current_user %>
              <td><%= link_to "Edit", edit_wiki_path(wiki) %></td>
              <td><%= link_to "Delete", wiki_path(wiki), method: :delete %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>