<div class="row">
  <div class="small-12 large-8 large-centered medium-8 medium-centered columns">
    <h2 class="text-center">Create Wiki:</h2>
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>