<div class="row">
  <div class="small-12 large-10 large-centered medium-10 medium-centered columns">
    <h2 class="text-center"><%= @wiki.title %></h2>
    <br>
    <p><%= @wiki.markdown_body %></p>
  </div>
</div>
<br>
<div class="row">
  <div class="small-8 columns text-center small-centered">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'button small' %>
    <%= link_to "Delete", wiki_path(@wiki), class: 'button small alert', method: :delete %>
  </div>
</div>