<div class="row">
  <div class="small-6 columns text-center">
    <h6>Create and access public wikis!</h6>
    <br>
    <ul class="pricing-table">
      <li class="title">Free</li>
      <li class="price">FREE</li>
      <li class="description">Create and Access Public Wikis</li>
      <li class="cta-button">
        <a href="#" class="button small">Buy Now</a>
       </li>
    </ul>  
  </div>
  <div class="small-6 columns text-center">
    <h6>Create and access private wikis!</h6>
    <br>
    <ul class="pricing-table">
      <li class="title">Premium</li>
      <li class="price">$15</li>
      <li class="description">Total Access (Public & Private Wikis)</li>
      <li class="cta-button">
        <%= form_tag charges_path do %>
          <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" 
          data-key="<%= @stripe_btn_data[:key] %>" 
          data-amount=<%= @stripe_btn_data[:amount] %> 
          data-description="<%= @stripe_btn_data[:description] %>" ></script>
        <% end %>
       </li>
    </ul> 
  </div>
</div>